<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tech Industries | @ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    @Styles.Render("~/Content/css")




</head>
<body>

    <!-- Skin configuration box -->
    <!-- @Html.Partial("_SkinConfig") -->
    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Filters -->
            <div id="body-container" class="wrapper wrapper-content">

                <!-- Main view  -->
                @RenderBody()

                @Html.Partial("_BugModal")

                <!-- Footer -->
                @Html.Partial("_Footer")

            </div>

            <!-- End page wrapper-->
            <!-- Right Sidebar -->
            @Html.Partial("_RightSidebar")

        </div>
        <div style="visibility:hidden">
            @Html.ActionLink("click me", "home", "api", null, new { id = "homeLink" });
            @Html.ActionLink("click me", "plants", "api", null, new { id = "plantsLink" });
            @Html.ActionLink("click me", "Finance", "api", null, new { id = "financeLink" });
            @Html.ActionLink("click me", "Quality", "api", null, new { id = "qualityLink" });
            @Html.ActionLink("click me", "goals", "api", null, new { id = "goalsLink" });
            @Html.ActionLink("click me", "users", "api", null, new { id = "usersLink" });
            @Html.ActionLink("click me", "groups", "api", null, new { id = "groupsLink" });
            @Html.ActionLink("click me", "usergroups", "api", null, new { id = "userGroupsLink" });
            @Html.ActionLink("click me", "deliverables", "api", null, new { id = "deliverablesLink" });
            @Html.ActionLink("click me", "DeliverableReviewers", "api", null, new { id = "deliverableReviewersLink" });
            @Html.ActionLink("click me", "DeliverableReviews", "api", null, new { id = "deliverableReviewsLink" });
            @Html.ActionLink("click me", "DeliverableDetail", "api", null, new { id = "deliverableDetailLink" });
            @Html.ActionLink("click me", "DeliverableDocuments", "api", null, new { id = "deliverableDocumentsLink" });
            @Html.ActionLink("click me", "MachineState", "api", null, new { id = "machineStateLink" });
            @Html.ActionLink("click me", "Bugs", "api", null, new { id = "bugsLink" });
            @Html.ActionLink("click me", "BugTags", "api", null, new { id = "bugTagsLink" });
            @Html.ActionLink("click me", "Projects", "api", null, new { id = "projectsLink" });
            @Html.ActionLink("click me", "ProjectAssignees", "api", null, new { id = "projectAssigneesLink" });
            @Html.ActionLink("click me", "ProjectTasks", "api", null, new { id = "projectTasksLink" });
            @Html.ActionLink("click me", "FTP", "api", null, new { id = "FTPLink" });
            @Html.ActionLink("click me", "UploadFile", "Deliverables", null, new { id = "UploadFileLink" });
            @Html.ActionLink("click me", "SetCookies", "Cookies", null, new { id = "setCookiesLink" });
            @Html.ActionLink("click me", "Comments", "api", null, new { id = "CommentsLink" });
            @Html.ActionLink("click me", "UCFCategories", "api", null, new { id = "UCFCategoriesLink" });
            @Html.ActionLink("click me", "UCFChallenges", "api", null, new { id = "UCFChallengesLink" });
            @Html.ActionLink("click me", "UCFCriteria", "api", null, new { id = "UCFCriteriaLink" });
            @Html.ActionLink("click me", "UCFAreas", "api", null, new { id = "UCFAreasLink" });
            @Html.ActionLink("click me", "UCFAudits", "api", null, new { id = "UCFAuditsLink" });
            @Html.ActionLink("click me", "UCFAuditDetail", "api", null, new { id = "UCFAuditDetailLink" });
            @Html.ActionLink("click me", "UCFActions", "api", null, new { id = "UCFActionsLink" });
            @Html.ActionLink("click me", "UCFGoals", "api", null, new { id = "UCFGoalsLink" });
            @Html.ActionLink("click me", "Flash", "api", null, new { id = "FlashLink" });
            @Html.ActionLink("click me", "Page", "api", null, new { id = "PageLink" });
            @Html.ActionLink("click me", "PrevMaint", "api", null, new { id = "PrevMaintLink" });
            @Html.ActionLink("click me", "Notifications", "api", null, new { id = "NotificationsLink" });
            @Html.ActionLink("click me", "operations", "api/v1", null, new { id = "OperationsLink" });
            @Html.ActionLink("click me", "Onboarding", "api/v1", null, new { id = "OnboardingLink" });
            @Html.ActionLink("click me", "Log", "api", null, new { id = "LogsLink" });

        </div>
    </div>
    <div id="" class="hidden">
        <input type="text" id="layoutUserID" name="layoutUserID" value="@ViewBag.UID" />
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(function () {
            $("#user-full-name").html("@{if (Request.Cookies["FullName"] != null) { Write(Request.Cookies["FullName"].Value); } else { Write(""); } }");
            $("#plantSelect").val("@{if (Request.Cookies["PlantCookie"] != null) { Write(Request.Cookies["PlantCookie"].Value); } else { Write("All"); } }");
            $("#periodSelect").val("@{  if (Request.Cookies["PeriodCookie"] != null) { Write(Request.Cookies["PeriodCookie"].Value); }  else{ Write("2016-07"); } }");

            //Bugs form code
            $(".tags-select2").select2();

            var notificationsApi = $("#NotificationsLink").attr('href');
            var prevNots = 0;
            var count = 0;
            var loadNots = function(){

                var totalNewNots = 0;
                var checkCount = $.ajax({type: "GET",url: notificationsApi, cache: false, data: {UserID: @ViewBag.UID, Viewed: true}});
                checkCount.done(function(data){
                    totalNewNots = data.length;

                    $('#not-count').html(totalNewNots);

                    console.log(totalNewNots);
                    if(totalNewNots == 0){
                        $('#not-count').addClass('hidden');
                    }
                    else{
                        $('#not-count').removeClass('hidden');
                    }
                    var load = $.ajax({ type: "GET", url: notificationsApi, cache: false, data: {UserID: @ViewBag.UID}});
                    load.done(function(data){
                        var array = $.map(data, function (item){
                            return{
                                DateCreated: formatSqlDateTime(item.DateCreated),
                                DateViewed: item.DateViewed,
                                ID: item.ID,
                                Message: item.Message,
                                Reference: item.Reference,
                                ReferenceID: item.ReferenceID,
                                UserID: item.UserID,
                                Viewed: item.Viewed

                            }
                        });
                        $('#not-short-list').html("");
                        for(i = 0; i < array.length; i++){
                            var message  = array[i].Message;
                            var fa = "fa-eye";
                            if(array[i].Viewed == false){
                                fa = "fa-eye-slash";
                            }

                            $('#not-short-list').append("<li > <a href='#' reference='"+array[i].Reference+"' referenceid='"+array[i].ReferenceID+"' class='reference-goto'> <div> <i class='fa "+fa+" fa-fw'></i> "+ message +" </div> </a> </li> <li class='divider'></li>");
                        }
                        //<span class='pull-right text-muted small'>4 minutes ago</span>
                        //$('#not-short-list').append('<li> <div class="text-center link-block"> <a href="#"> <strong>See All Notifications</strong> <i class="fa fa-angle-right"></i> </a> </div> </li>');
                        if(count == 0){
                            prevNots = totalNewNots;
                            count += 1;
                        }
                        if(totalNewNots != prevNots){
                            if(totalNewNots-prevNots == 1){
                                toastr.info(array[0].Message,'You have one Notification')
                            }
                            else if(totalNewNots-prevNots > 1){
                                toastr.info('You have '+totalNewNots+' unseen notifications')
                            }

                        }
                        prevNots = totalNewNots;
                    });

                });
            }
            loadNots();

            $(document).on('click', '.reference-goto', function(){
                ref = $(this).attr('reference');
                refid = $(this).attr('referenceid');
                console.log(ref +' '+ refid);
                window.location('q.ti-kc.com/Deliverables?'+refid);
            });
            $(document).on('click', '#not-dropdown-toggle', function(){
                console.log('test');
                var flagViewed = $.ajax({type: "GET", url: notificationsApi, cache: false, data: {UserID: @ViewBag.UID, Viewed: false}});
            });

            $(document).on('click', '#submit-new-bug', function () {
                var Type = $('.bug-type-select.active').html();
                var Project = $("#bug-Project").val();
                var Description = $('#bug-Description').val();
                var UserID = $('#layoutUserID').val();
                var Tags = $('#bug-Tags').val();
                var bugsAPI = $("#bugsLink").attr('href');
                var bugTagsAPI = $("#bugTagsLink").attr('href');
                console.log();
                if (Description.length > 0 && Project != 99999 && Tags != null) {
                    var sendData = "Project=" + Project + "&Description=" + Description + "&Type=" + Type + "&UserID=" + UserID + "&AssigneeID=0" + "&DateCreated=" + DateNowFormatted() + "&DateClosed=" + "&Status=" + "New" + "&Notes=";
                    console.log(sendData);
                    var add = $.ajax({ type: "POST", url: bugsAPI, cache: false, data: sendData });
                    add.success(function (data) {
                        data = data[0];
                        console.log(data);
                        Tags.forEach(function (item) {
                            var aSendData = "BugID=" + data.ID + "&Tag=" + item;
                            var assign = $.ajax({ type: "POST", url: bugTagsAPI, cache: false, data: aSendData });
                        });
                        $('#bug-Project').val(99999);
                        $('#bug-Description').val("");
                        $('#bug-Tags').select2("val", "");

                        addNotification(data.ID, 'Bug', UserID);
                    });
                }
            })

            $(document).on('click', '.bug-type-select', function () {
                $(this).siblings().removeClass("active");
                $(this).addClass("active");
            });

        });
    </script>

    @RenderSection("scripts", required: false)
    <div data-bind="if: isLoading()">
        <div id="is-loading">
            <div id="is-loading-inner" class="center-vertically">
                <center class="center-vertically"><i class="fa fa-circle-o-notch fa-spin"></i> Loading ...</center>
            </div>
        </div>
    </div>
</body>
</html>
